.wrapper {
  display: grid;

  /* grid-auto-rows: minmax(100px, auto); */
  grid-template-columns: 70% 28.7%;
  grid-auto-rows: 500px;
  border: 1px black solid;
  background: lightblue;
  grid-gap: 1em;
  padding: 10px;
}

.container-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5em;
  background: lightgreen;
  padding: 35px;
  border: black 2px solid;
}

.container-cells {
  display: grid;
  grid-template-columns: repeat(3, 130px);
  /* grid-auto-rows: minmax(50px, auto); */
  grid-auto-rows: 130px;
  grid-gap: 1em;
}

.container-btn {
  display: grid;
  grid-template-columns: repeat(2, 180px);
  grid-column-gap: 2.9em;
  grid-row-gap: 4em;
  grid-auto-rows: 50px;
}

.container-two {
  display: grid;
  grid-template-columns: repeat(2,130px);
  grid-auto-rows: 50px;
  background: lightcoral;
  border: black 2px solid;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cells {
  background: rgb(109, 112, 116);
  font-size: 130px;
  border-radius: 5px;
  text-align: center;
  
}

.btn {
  background: limegreen;
  border-radius: 5px;
}